# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
admin-client/node_modules/
user-client/node_modules/
server/node_modules/

# Build output
admin-client/build/
user-client/build/
server/build/
user-client/dist/
admin-client/dist/
server/dist/

# Environment variables
user-client/.env
admin-client/.env
server/.env

# Cache and metadata files
admin-client/.cache/
user-client/.cache/
server/.cache/

# Testing-related files
admin-client/coverage/
user-client/coverage/
server/coverage/

# OS-specific files
.DS_Store
*.swp
Thumbs.db
